
.Nbar{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.litext{
    display: flex;
    gap: 20px;
    color: black;
    font-family:sans-serif;
    font-size: 18px;
    margin-top: -10px;
}
.p1{
    text-decoration:none;
    box-shadow: 0 2px 0 0 rgb(94, 89, 89);
    padding-bottom:3px;
    color:rgb(23, 23, 202)
}
a:active{
    background-color: rgb(144, 144, 194);
}
.mid{
    display: flex;
}
h5{
font-size:20px;
}
.A{
 display:flex;
 gap:20px;
}
#lbu{
color: white;
background-color: blue;
height:40px;
width:130px;
border-radius: 10px;
}
.ABC{
    
    text-decoration:none;
    box-shadow: 0 3px 0 0 currentColor;
    padding-bottom:3px;
    color:rgb(14, 14, 232);
    font-size:18px;
    margin-top: 10px;
}
.CBOX{
    display: flex;
    gap: 10px;
    padding: 20PX;
}
.p2{ 
     font-size: 20px;
     margin-bottom:10px;
     margin-top: 70px;
}
.p3{
    font-size: 20px;
}
h1{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size:100px;
}
#nbu{
    height: 30px;
    width: 64px;
    border-radius: 20px;
    background-color:rgb(12, 5, 5)
}
.sun{
    background-color: hsl(207, 22%, 92%);
    border-radius: 40px;
}
.text1{
    margin-left: 40px;
}